services:
  calculator:
    build: .
    container_name: magma-calculator
    cap_add:
      - SYS_ADMIN
    tmpfs:
      - /tmp:size=128m
    volumes:
      - /opt/magma:/opt/magma:ro
    env_file:
      - calculator.env
    expose:
      - "8080"
    labels:
      - traefik.enable=true
      - traefik.http.routers.calculator.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.calculator.entrypoints=websecure
      - traefik.http.routers.calculator.tls.certresolver=le
      - traefik.http.services.calculator.loadbalancer.server.port=8080
    networks:
      - traefik
    restart: unless-stopped

networks:
  traefik:
    external: true
