[Unit]
Description=Magma Firecracker worker %i
BindsTo=magma-fc-supervisor.service
After=magma-fc-supervisor.service

[Service]
Type=exec
ExitType=cgroup
EnvironmentFile=/etc/magma-fc/worker.env
ExecStart=/opt/magma-fc/bin/magma-fc-launch %i
Restart=no
Delegate=no

MemoryMax=1536M
MemorySwapMax=0
CPUQuota=100%
TasksMax=64
OOMPolicy=kill

RuntimeMaxSec=150
TimeoutStartSec=10
TimeoutStopSec=5
KillMode=control-group
SendSIGKILL=yes
FinalKillSignal=SIGKILL

NoNewPrivileges=yes
LimitCORE=0
LimitNOFILE=256
UMask=0077

PrivateNetwork=yes
RestrictAddressFamilies=AF_UNIX
IPAddressDeny=any

StandardInput=null
StandardOutput=journal
StandardError=journal
